<?xml version="1.0"?>
<config>
    <modules>
        <Magehack_Elasticmage>
            <version>1.0.0</version>
        </Magehack_Elasticmage>
    </modules>
    <global>
        <blocks>
            <magehack_elasticmage>
                <class>Magehack_Elasticmage_Block</class>
            </magehack_elasticmage>
        </blocks>
        <helpers>
            <magehack_elasticmage>
                <class>Magehack_Elasticmage_Helper</class>
            </magehack_elasticmage>
        </helpers>
        <models>
            <catalog_resource>
                <rewrite>
                    <!--<category_collection>Magehack_Elasticmage_Model_Resource_Category_Collection</category_collection>-->
                    <product_collection>Magehack_Elasticmage_Model_Resource_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource>
            <magehack_elasticmage>
                <class>Magehack_Elasticmage_Model</class>
                <resourceModel>magehack_elasticmage_resource</resourceModel>
            </magehack_elasticmage>
            <magehack_elasticmage_resource>
                <class>Magehack_Elasticmage_Model_Resource</class>
            </magehack_elasticmage_resource>
        </models>
        <resources>
            <magehack_elasticmage_setup>
                <setup>
                    <module>Magehack_Elasticmage</module>
                </setup>
            </magehack_elasticmage_setup>
        </resources>
    </global>
</config>